.DS_Store
.dockerignore
celerybeat-schedule
celerybeat.pid
dump.rdb
Dockerfile
db.sqlite3
README.rst
README.md
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
coverage.xml
*,cover
*.log
.git
